@CHARSET "UTF-8";
body{
	margin: 0px;padding: 0px;overflow-x: hidden; 
}
/*ul,dl,ol{
	list-style-type: none;
}*/
/*input,select,button{
	font-size: 12px;font-family: Arial,"微软雅黑",Verdana,Tahoma; vertical-align: middle;margin: 0px;padding: 0px;
}*/
.sg_button{
	display:block;width:100px;height:40px;text-decoration:none;text-align:center;line-height:40px;color:white;font-family:'微软雅黑';background:url(../img/jingling3.png) -14px -62px;
}
.sg_button:hover{
	background: url(../img/jingling3.png) -140px -62px;
}
.bg_button{
	display:block;width:100px;height:50px;text-decoration:none;text-align:center;line-height:50px;color:white;font-family:'微软雅黑';background:url(../img/jingling3.png) -18px -238px;
}
.bg_button:hover{
	background: url(../img/jingling3.png) -148px -238px;
}
.sy_button{
	display:block;width:250px;height:40px;text-decoration:none;text-align:center;line-height:40px;color:white;font-family:'微软雅黑';font-size:20px;background: url(../img/jingling3.png) -7px -134px;
}
.sy_button:hover{
	background: url(../img/jingling3.png) -7px -189px;
}
.by_button{
	display:block;width:320px;height:50px;text-decoration:none;text-align:center;line-height:50px;color:white;font-family:'微软雅黑';font-size:22px;background: url(../img/jingling3.png) -15px -304px;
}
.by_button:hover{
	background: url(../img/jingling3.png) -15px -369px; 
}
.container{
	width: 100%;margin: 0;padding: 0;
}
.content{
	width: 100%;margin: 60px 0 0 0;background-color: #EDEEF0;
}
.banner{
	width: 100%;background-color: white;position: fixed;top: 0;z-index: 99999;height: 60px;border-bottom: 1px solid #BCBABB;
}
.logo{
	width:100px;height: 44px;float: left;margin-left: 40px;margin-top:8px;background: url(../img/tanzhilogo.png) -13px -2px;
}
.mall_name{
	width:360px;height: 60px;position:relative;left: 50%;margin-left: -320px;line-height: 60px;text-align: center;font-size: 16px;float: left;
}
.seticon{
	display:block;height: 60px;width:50px;float: right;border-right: solid 1px #BCBABB;border-left: solid 1px #BCBABB;cursor: pointer;
}
.usericon{
	display:block;height: 60px;width:50px;float: right;border-right: solid 1px #BCBABB;cursor: pointer;margin-right: 40px;
}
.manageDiv{
	display:none;width:120px;border:solid 1px #BCBABB;position:absolute;right:40px;top:60px;background-color:white;padding:10px 0;
}
.manageDiv a{
	display:block;width:120px;height:30px;text-align:center;line-height:30px;text-decoration: none;color:black;
}
.manageDiv a:hover{
	background-color: #318EC4;
}
.footer{
	height: 50px;width: 100%;color: white;background-color: #5E7795;line-height: 50px;text-align: center;font-family: "Arial";
}
.summ_icon{
	width: 240px;background-color: black;padding-left: 15px; 
}
#summ_a{
	display: block;width: 118px;height: 32px;text-decoration: none;
}
.navigation{
	list-style-type: none;float: left;width: 240px;background-color: #262A33;margin-top: 0;padding-left: 0;
}
.navigation h2{
	color: white;background:url(../img/jingling1.png) no-repeat -30px -82px;width: 118px;height: 32px;margin-left: 60px;cursor: pointer;
}
.navigation h2:hover{
	color: white;background:url(../img/jingling1.png) no-repeat -161px -82px;width: 118px;height: 32px;margin-left: 60px;cursor: pointer;
}
.navigation li a:link,.navigation li a:visited{
	display: block;color: white;text-align: center;text-decoration:none;padding: 14px;
}
.navigation li a:hover,.navigation li a:active{
	background-color: white;color: black;
}
.navigation li a.select{
	background-color: white;color: black;
}
.maindiv{
	margin-left: 240px;
}
#tab_bar_div{
	border-bottom: 1px solid #BCBABB; 
}
.tab_bar{
	list-style-type: none;margin :0;padding: 0;
}
.tab_bar li{
	float: left;width: 25%;border-bottom: 1px solid #BCBABB;
}
.tab_bar li a:link,.tab_bar li a:visited{
	display: block;color: gray;text-align: center;font-size: 16px;text-decoration:none;padding: 15px;
}
.tab_bar li a:hover,.tab_bar li a:active{
	background-color: #3792E1;color: white;
}
.tab_bar li a.select{
	background-color: #3792E1;color: white;
}
.clear{
	clear: both;
}
.dataDiv{
	margin: 20px;height: 340px;border: solid 1px #BCBABB;background-color: white;
}
.card{
	display: table;width: 100%;padding: 0;
}
.table_card{
	display: table;width: 100%;padding: 10px 0;
}
.card_tr{
	display: table-row;
}
.card_td_new{
	display: table-cell;width: 26%;margin: 15px 0;
}
.table_td_new{
	display: table-cell;width: 48%;
}
.card_td{
	display: table-cell;width: 25%;
}
.new_card_box{
	height: 201px;margin-left: 14px;
}
.table_dl_title{
	width: 100%;height: 100px;
}
.table_title_icon{
	width: 44px;height: 48px;background-image: url(../img/3.png);float: left;position: relative;top: 25px;left: 40px;
}
.table_title_txt{
	float: left;color: white;text-align: center;position: relative;top: 35px;left: 70px;letter-spacing: 3px;
}
.table_dl_data{
	width: 100%;height: 70px;background-color: white;text-align: center;line-height: 70px;
}
.table_dl_foot{
	width: 100%;height: 31px;background-color: white;text-align: center;line-height: 31px;
}
.new_table_box{
	height: 201px;margin-left: 14px;background-color: white;margin-right: 16px;padding: 0 10px;
}
.txt_td_1{
	width: 60%;border-bottom: solid 1px #BCBABB;height: 67px;padding-left: 30px;font-family: "微软雅黑";
}
.txt_td_2{
	width: 20%;border-bottom: solid 1px #BCBABB;height: 67px;font-family: "微软雅黑";
}
.table_txt_row{
	display: table-row;
}
.card_box{
	height: 160px;width: 94%;border-radius:10px;margin: 0 3%;-moz-border-radius:10px; /* Old Firefox */
}
.box_dl{
	padding: 0;
}
.box_dl_title{
	font-size: 20px;font-weight: bold;color: white;width: 94%;padding-left: 6%;height: 40px;line-height: 40px;
}
.table_dl_title{
	font-size: 20px;font-weight: bold;font-family: "微软雅黑";
}
.box_dl_content{
	width: 100%;
}
.box_icon{
	width: 60px;height: 57px;float: left;margin-left: 15%;margin-top: 10px;
}
.box_icon_up{
	width: 60px;height: 57px;float: left;margin-left: 15%;margin-top: 10px;background: url(../img/jingling1.png) -603px -140px no-repeat;
}
.box_icon_down{
	width: 60px;height: 57px;float: left;margin-left: 15%;margin-top: 10px;background: url(../img/jingling1.png) -603px -220px no-repeat;
}
.box_data{
	width: auto;height: 57px;font-size: 40px;text-align: center;margin-top: 10px;color: white;font-family: "微软雅黑";line-height: 57px;
}
.box_dl_foot{
	width: 100%;height:40px;text-align: center;font-size: 20px;color: white;letter-spacing: 5px;line-height: 40px;
}
.tool_bar_ul{
	list-style-type: none;margin :0;padding: 0;
}
.tool_div{
	position: relative;border :solid 1px #BCBABB;background-color: white;height: 201px;margin:0 20px;top :10px;
}
.tool_div_row{
	width: 100%;height: 47px;padding: 10px 0;
}
.tool_bar_ul li{
	float: left;width: 100px;padding: 0;
}
.tool_bar_ul li a:link,.tool_bar_ul li a:visited{
	display: block;text-decoration: none;text-align: center;padding: 11px 0;color: white;font-size: 20px;
}
.tool_bar_ul li a:hover,.tool_bar_ul li a:active{
	background-color: #586179;
}
.tool_bar_ul li a.select{
	background-color: #586179;
}
.tabs_bar{
	float: left;margin-left: 50px;height: 35px;border :0;border-left :solid 1px #BCBABB;margin-top: 5px;padding: 0;
}
.tabs_{
	width: 70px;height: 34px;border :1px solid #BCBABB;border-left: none;float: left;text-align: center;line-height: 34px;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#F8F8F8));cursor: pointer;
}

.tabs_bar_title{
	float: left;height: 40px;margin-left: 50px;border-left: solid 1px #BCBABB;
}
.tabs_title_{
	width: 120px;height: 40px;border-right:1px solid #BCBABB;float: left;text-align: center;line-height: 40px;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#F8F8F8));cursor: pointer;
}
.select_{
	background: #3389D4;box-shadow: inset 0 0 5px rgba(9, 52, 89, .7); color: white;
}
.small_tab_ul{
	list-style: none;padding: 0;width: 480px;float:left;margin-top: 7px;margin-left: 20px;
}
.small_tab_ul li{
	float: left;padding: 0;
}
.small_tab_ul li a:link,.small_tab_ul li a:visited{
	display: block;text-decoration: none;text-align: center;background-color: white;color: #3792E1;width: 60px;height: 32px;line-height: 32px;
}
.small_tab_ul li a:hover,.small_tab_ul li a:active{
	background-color: #3792E1;color: white;
}
.small_tab_ul li a.select{
	background-color: #3792E1;color:white;
}
.data_small_tab_ul{
	list-style: none;padding: 0;width: 600px;float:left;margin-top: 4px;margin-left: 50px;
}
.data_small_tab_ul li{
	float: left;padding: 0;
}
.data_small_tab_ul li a:link,.data_small_tab_ul li a:visited{
	display: block;text-decoration: none;text-align: center;background-color: white;color: #3792E1;width: 60px;height: 32px;line-height: 32px;border-color: #3792E1;
}
.data_small_tab_ul li a:hover,.data_small_tab_ul li a:active{
	background-color: #3792E1;color: white;
}
.data_small_tab_ul li a.select{
	background-color: #3792E1;color:white;
}

.dataDiv_title{
	height: 40px;border-bottom: 1px solid #BCBABB;padding: 0;width: 100%;
}
.dataDiv_title_txt{
	width:200px;height: 40px;font-size: 18px;font-family: "微软雅黑";letter-spacing: 2px;text-align: center;line-height: 40px;float: left;
}
.dataDiv_content{
	width: 100%;height: 300px;text-align: center;line-height: 300px;
}
.left_tab{
	height: 30px;border: 1px solid #3792E1;float: left;border-bottom-left-radius: 5px;border-top-left-radius: 5px;position: relative;top: 4px;left: 20px;text-align: center;line-height: 30px;cursor: pointer;background-color: white;padding:0 5px;
}
.middle_tab{
	height: 30px;border-top: 1px solid #3792E1;border-bottom: 1px solid #3792E1;border-right: 1px solid #3792E1;float: left;position: relative;top: 4px;left: 20px;text-align: center;line-height: 30px;cursor: pointer;background-color: white;padding:0 5px;
}
.right_tab{
	height: 30px;border-top: 1px solid #3792E1;border-right: 1px solid #3792E1;border-bottom: 1px solid #3792E1;float: left;position: relative;top: 4px;left: 20px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;text-align: center;line-height: 30px;cursor: pointer;background-color: white;padding:0 5px;
}
/*.left_tab_select{
	height: 30px;width: 80px;border: 1px solid #BCBABB;float: left;border-bottom-left-radius: 5px;border-top-left-radius: 5px;position: relative;top: 4px;left: 20px;background-color: #3792E1;text-align: center;line-height: 30px;
}
.right_tab_select{
	height: 30px;width: 80px;border-top: 1px solid #BCBABB;border-right: 1px solid #BCBABB;border-bottom: 1px solid #BCBABB;float: left;position: relative;top: 4px;left: 20px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;background-color: #3792E1;text-align: center;line-height: 30px;
}*/
.tab_select{
	background-color: #3792E1;
}
.dataDiv_content div{
	width: 50%;float: left;height: 280px;text-align: center;line-height: 280px;
}
.time_deg{
	width: 720px;height: 10px;
}
.deg{
	width: 100px;height: 10px;float: left;text-align: center;line-height: 10px;font-size: 10px;margin-left: 1px;
}
.time_bar_div{
	width: 650px;height: 10px;margin-left: 50px;
}
.deg_line{
	width: 100px;height: 10px;float: left;border-left: solid 1px #BCBABB;
}
.time_bar{
	width: 618px;height: 15px;border: solid 1px #BCBABB;border-radius: 25px;margin-left: 43px;
}
.time_bar_sub{
	height: 14px;border: solid 1px #BCBABB;border-radius: 25px;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#afe932), to(#74d00a));
}

.xy{
	display:none;
	background: none repeat scroll 0 0 #333333;
    height: 100%;
    left: 0;	
	opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999998;
	filter:alpha(opacity=50);
}
.xytxt{
	background:#F8F8F8; border:3px  solid #DFE2E5; position:absolute;-webkit-border-radius:3px;border-radius:3px; z-index: 999999;left: 4%;color:#333;display:none;
}
.close{
	display:block;width:50px;height:50px;text-align:center;line-height:50px;float:right;font-size:30px;border-left:solid 1px #BCBABB;text-decoration: none;
}
.close:hover{
	background: #3389D4;box-shadow: inset 0 0 5px rgba(9, 52, 89, .7); color: white;
}
.sumBox_title{
	width:300px;height:37px;color:white;line-height:37px;padding-left:30px;font-family: "微软雅黑";font-size: 20px;
}
table.table_style1 td{
	border-bottom:1px solid #e0e0e0;height:40px; line-height:40px; font-size:12px;border-right: solid 1px #e0e0e0;
}
table.table_style1 th{
	border-bottom:1px solid #e0e0e0;height:45px; line-height:45px; font-size:14px;border-right: solid 1px #e0e0e0;
}
.page{
	height:0px; background:#F2F1F4; padding:0 10px
}
.page span.r a,.page span.r a:visited{
	display:block; padding:2px 5px;color:#2e323b;float:left; border-radius:3px;-webkit-border-radius:3px; border:1px solid #cfcfcf; margin:10px 5px 0 5px;
}
.page b{
	height:32px; line-height:32px;display:block;float:left; font-size:12px; font-weight:normal; color:#616368
}
.page span.r font{
	display:block;float:left; margin-top:13px
}
.page span.r a:hover,.page span.r a.hover{
	text-decoration:none; color:#1486ba; 
}
.page .bottunDiv{
	width:235px; margin:0px
}
.dataTables_length{
	float:left;
}
.paging_full_numbers{
	float:right;height:50px;line-height: 50px;
}
.paging_full_numbers span.paginate_button{
	display:block;font-size:11px; padding:0 5px;color:#616368; background:#F5F5F5; box-shadow:0 1px 1px #fff inset; float:left; line-height:17px; border:1px solid #DADADA; margin:7px 5px 0 5px; cursor:pointer; height:17px; border-radius:2px;
}
.paging_full_numbers span.paginate_active{
	display:block;font-size:11px; padding:0 5px;color:#fff; background:#BFC1C3; box-shadow:2px 2px 2px #ADB0B2 inset; float:left;border:1px solid #949494; margin:7px 5px 0 5px; height:17px;line-height:17px;text-decoration:none; border-radius:2px;
}



.time{
	display:block; height:35px;background:url(../img/select-bg.gif) right top; border:1px solid #C8D5DE; float:left; line-height:35px;  font-size:14px; border-radius:2px;margin-top: 4px;
}
.time:hover,.time.hover{
	text-decoration:none;background:url(../img/select-bg_hover.gif) right top;
}
.time span{
	 display:block; height:35px; padding:0 10px 0 42px; float:left;color:#000; background:url(../img/select-date.gif) no-repeat left top; min-width:91px; font-weight:normal; 
}
#datatables .time span{
	 display:block; height:35px; padding:0 10px 0 42px; float:left;color:#000; background:url(../img/select-date.gif) no-repeat left top; min-width:91px; font-weight:normal; width:176px;
}
.time:hover span,.time.hover span{
	background:url(../img/select-date_hover.gif) no-repeat left top;
}
.channe_select span{
	 display:block; height:35px; padding:0 42px 0 10px; text-align:center; float:left;color:#000; background:url(../img/select-channel.gif) no-repeat right top; min-width:91px;
}
.channe_select:hover span,.channe_select.hover span{
	background:url(../img/select-channel_hover.gif) no-repeat right top;
}
.time em { float:right; background:url(../img/select-channel.gif) no-repeat; height:35px; width:26px; display:block;}
.time:hover em { font-style:normal; float:right; background:url(../img/select-channel_hover.gif) no-repeat; height:35px; width:26px; display:block;}

.time b{
	display:block;
	float:left;
	color:#000;
	font-weight:normal;
	padding:0 15px;
	border-right:1px solid #ccc;
}
.time font{
	font-size:14px;
}
.timetxt{ width:234px; right:10; box-shadow:0 1px 3px #ccc;
	 background:#f7f8f9; text-align:center; border:1px solid #C8D5DE; position:absolute;top:25px;display:none; z-index:99; border-radius:4px; padding:4px 0;
}

.timetxt input.Wdate{
	height:21px; width:73px; border:1px solid #cfcfcf; margin:0 5px ; background:none; padding:0 3px; color:#484848
}
.timetxt p{
	margin:15px 0; line-height:21px;
}
.timetxt span{
	background:none; height:auto; line-height:21px; height:21px; margin-top:10px
}
.timetxt li{
    padding:3px 8px; line-height:28px; display:block; clear:both;
}
.timetxt li a{
	padding: 3px 0; display:block; background:#fff; border-radius:2px;text-decoration: none;
}
.timetxt li a:hover.select{
	background:#e1e5ec; text-decoration: none;
}

.c_timetxt{ width:234px; right:0; box-shadow:0 1px 3px #ccc;
	 background:#f7f8f9; text-align:center; border:1px solid #C8D5DE; position:absolute;top:25px;display:none; z-index:99; border-radius:4px; padding:4px 0;
}

.c_timetxt input.Wdate{
	height:21px; width:73px; border:1px solid #cfcfcf; margin:0 5px ; background:none; padding:0 3px; color:#484848
}
.c_timetxt p{
	margin:15px 0; line-height:21px;
}
.c_timetxt span{
	background:none; height:auto; line-height:21px; height:21px; margin-top:10px
}
.c_timetxt li{
    padding:3px 8px; line-height:28px; display:block; clear:both;
}
.c_timetxt li a{
	padding: 3px 0; display:block; background:#fff; border-radius:2px;text-decoration: none;color: black;
}
.c_timetxt li a:hover.select{
	background:#e1e5ec; text-decoration: none;
}

.channel{box-shadow:0 1px 3px #ccc; border-radius:2px; text-align:center;
	 background:#f7f8f9; border:1px solid #C8D5DE; position:absolute;top:39px;display:none; width:180px; z-index:99;
}

.channel li{
	padding:3px 8px; line-height:28px; display:block; clear:both;
}
.channel li a{
	padding: 3px 0; display:block; background:#fff; border-radius:2px; color:#333
}
.channel li a.blue { color:#03a2d0;}
.channel li a.grey { color:#c1c1c1;}
.channel li a:hover.grey { color:#575757;}

.channel li a.blue img,.channel li a.grey img { margin:7px 5px 0 0;}
.channel li a:hover.select{
	background:#e1e5ec; text-decoration: none;
}

.timetxt li .dropselect{
	margin-top:4px;
}

.timetxt li .dropselect h4{
	height:20px; line-height:20px;
}
.timetxt li .dropselect font{
	height:14px;
}
.timetxt li  .Custom{
	background:#FBFBFB; padding-left:15px; 
}

.timetxt a,.timetxt a:visited{
	color:#484848;
}
.r{
	float:right;
}
.Button,.Buttoncr,a:link.Button,a:link.Buttoncr{
	height:24px; padding:0 10px; line-height:24px;font-size:12px; background:url(../img/button_bg.gif); border:1px solid #2C8DA7; border-radius:2px; box-shadow:0 1px 0px #ACBAC5; color:#fff; cursor:pointer; margin:7px;white-space:nowrap
}
a:hover.Button{
	background:url(../img/button_hover_bg.gif); text-decoration:none; font-weight:normal
}
.Buttoncr,a:link.Buttoncr{
	 background:url(../img/buttoncr_bg.gif); border-color:#BCC5CE; color:#2E2F31; 
}

a:hover.Buttoncr{
	 background:url(../img/buttoncr_hover_bg.gif); text-decoration:none; font-weight:normal; color:#131313
}
.hide{
	display:none;
}
/*.relative{
	position:relative; left:0; top:0;
}*/


